/* FONTS */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/poppins-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v19-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v19-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v19-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v19-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v19-latin-700.woff") format("woff");
}

/* ================ */
/* GLOBALE  */
/* ================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors */
:root {
  --primary: #40bfff;
  --danger: #ff4858;
  --lightPrimary: #bcddfe;
  --dark: #373737;
}

.container {
  max-width: 1315px;
}
